<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Table Requests</title>
    </head>

    <style>
        body {
            background: green;
        }
    </style>
    <body>
        <div>
            <h1>Requests</h1>
        </div>
        <div>
            <form action="" , method="POST">
                {% csrf_token %} {% for reservation in requests %}
                <div>
                    <p>Name : {{reservation.name}}</p>
                    <p>Email : {{reservation.email}}</p>
                    <p>Date : {{reservation.date}}</p>
                    <p>Time : {{reservation.time}}</p>
                    <p>No. of Guests : {{reservation.numGuests}}</p>
                    <p>Phone : {{reservation.name}}</p>

                    <label for="status"> Status : </label>
                    <input
                        type="checkBox"
                        id="status{{reservation.id}}"
                        name="status"
                        value="{{reservation.id}}"
                    />
                    <hr />
                    <br />
                </div>
                {% if reservation.status == True %}
                <script>
                    document.getElementById(
                        "status{{reservation.id}}"
                    ).checked = true;
                </script>
                {% endif %} {% endfor %}
                <button type="submit">Save</button>
            </form>
        </div>
    </body>
</html>
