<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../static/restaurant/r1/rest1.css">
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap">
</head>
<style>
    
</style>
<body>
    <div class="navbar" id="navbar">
        <ul>
            <li> <a href="C:\Users\Hp_D\Desktop\GIT\ADP\index.html"> Home</a></li>
            <li> <a href="#main2"> Services</a></li>
            <li> <a href="#main3"> Contact Us</a></li>
            <li> <a href="C:\Users\Hp_D\Desktop\GIT\ADP\login\LoginPage.html"> Login/Sign Up </a></li>
        </ul>
    </div>
    <div class="main"> 
        <div class="gallery"> <div style="font-size: 2.4rem; color:orange;"> <br> THE CHAWLAS </div> <div style="color:white">OUR GALLERY</div>
            <div class="container-2" id="main2">
                <div class="slide-container swiper">
                    <div class="slide-content">
                        <div class="card-wrapper swiper-wrapper">
                            <div class="card swiper-slide">
                                <div class="image-content">
                                    <span class="overlay"></span>
                
                                    <div class="card-image">
                                        <img src="images/chawla3.jpg" alt="" class="card-img">
                                    </div>
                                </div>
                
                            </div>
                            <div class="card swiper-slide">
                                <div class="image-content">
                                    <span class="overlay"></span>
                
                                    <div class="card-image">
                                        <img src="images/chawla1.jpg" alt="" class="card-img">
                                    </div>
                                </div>
                
                                
                            </div>
                            <div class="card swiper-slide">
                                <div class="image-content">
                                    <span class="overlay"></span>
                
                                    <div class="card-image">
                                        <img src="images/chawla4.jpg" alt="" class="card-img">
                                    </div>
                                </div>
                                            </div>
                            <div class="card swiper-slide">
                                <div class="image-content">
                                    <span class="overlay"></span>
                
                                    <div class="card-image">
                                        <img src="images/chawla2.jpg" alt="" class="card-img">

                                    </div>
                                </div>
                            </div>
                            <div class="card swiper-slide">
                                <div class="image-content">
                                    <span class="overlay"></span>
                
                                    <div class="card-image">
                                        <img src="images/chawla_menu.jpg" alt="" class="card-img" >
                                    </div>
                                </div>
                
                            </div>
                        </div>
                    </div>
                
                    <div class="swiper-button-next swiper-navBtn"></div>
                    <div class="swiper-button-prev swiper-navBtn"></div>
                    <div class="swiper-pagination"></div>
                </div>
                    </div>
        </div>
        
        <!-- <div class="below" id="left" > -->
          <!-- <div class="leftitem" id="lefitem_heading" style="color: white;"> <u> Please fill the given form </u></div>     -->
    
            <!-- <div class="leftitem"> <label class="form-text" for="form-text" sty>Date</label>  
            <input type="date"></div>
            <div class="leftitem"><label class="form-text" for="form-text">Time</label><input type="time" name="" id=""></div>
            <div class="leftitem"><label class="form-text" for="form-text">Guest</label><input type="number" name="" id="" placeholder="Total Guests"></div>
            <div class="leftitem"><label class="form-text" for="form-text">Mobile</label><input type="tel" name="" id="" placeholder=" Mobile Number"></div>
            <div class="leftitem" id="fullname"><label class="form-text" for="form-text">Person Name</label><input type="text" name="" id="fname" placeholder="Enter Name"></div>
            <div class="leftitem" id="e-mail"><label class="form-text" for="form-text">E-mail</label><input type="email" name="" id="email" placeholder="Email-address"></div> -->
        
        <div class="left" id="left">
            <h1>About Us</h1>
            <p id="about">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat sunt similique dignissimos at consequuntur sapiente totam debitis veniam nulla aperiam.</p>

        </div>
            

        <!-- </div> -->
        <div class="below" id="right"><p>  MAKE YOUR RESERVATION </p>
        <div class="leftbutton" id="" ><input type="button" name="btn" id="booknow" value="Book Now">
            </div>
        </div>
        
        <div class="top1">
            
            <h1 class="boxes" style="font-size:2rem; "> The Chawlas </h1>
            <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, quia! -->
            
            <div class="boxes"><h2>&#160;Get news and offers</h2>
            <input type="email" placeholder="Enter your Email" name="email_r1" id="email_r1" pattern=".+@globex\.com" required style="color: white; font-family:ubuntu">
            
            <form action=""> <button type="submit">submit</button></form>
            </div>
            <div class="boxes"><p><h2>  Contact</h2> MDR23, Khanahr <br>Himachal Pradesh 175005 <br> <br>Monday - Wednesday <br>10:00AM - 10:00PM</p></div>
            <div class="boxes"><p><br><br>+00 123 456 7890 <br> email@restaurant.com <br><br>  Wednesday - Sunday <br>10:00AM - 10:00PM</p></div>
            
        </div>
    </div>
</body>
<!-- Swiper JS -->
<script src="js/swiper-bundle.min.js"></script>

<!-- JavaScript -->
<script src="js/script.js"></script>
</html>